#output {
    height: 300px;
    width: 300px;
    background-color: salmon;
}
#output2 {
    height: 255px;
    width: 255px;
    background-color: salmon;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
} 
